*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* mobile first design: 330x440px */
:root{
--black: black;
--white: white;
}

body{
display:flex;
flex-direction:column;
}

main{
display:grid;
gap: 8vw;
height: 110vh;
grid-template: 1fr 1fr 1fr / 1fr;
}

fieldset{
width: 90%;
align-self:center;
justify-self:center;
}
header{
border-bottom: 2px solid var(--black);
}

#displayContainer{
height:100%;
}
#display > *{
height:25%;
width:25%;
}
li{
list-style: none;
}

