*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* mobile first design: 330x440px */
:root{
--black: #6d6875;
--otherWhite:#898D74;
--white: #ffcdb2;
--blue:#a2d2ff;
}

header{
display: flex;
justify-content:center;
align-items:center;

}


body{
color: var(--white);

background-color: var(--black);
background-image: linear-gradient( var(--black) , var(--blue) );
background-size:cover;
}

header{
background-color:var(--black);
border-bottom: 2px solid var(--white);
display: flex;
justify-content:center;
text-align:center;
align-items:center;
}

h1 span{
display: block;
font-size:1.2rem;
}

h1 span a{
color:var(--otherWhite)
}

h1 span a:visited{
color:var(--blue)
}

main{
display:grid;
padding: 8px;
gap:10px;
/* grid-template: 1fr 1fr 1fr / 1fr; */
}

fieldset{
background-color:var(--black);
display: flex;
justify-content:center;
align-items:center;
text-align:center;
flex-direction: column;
padding:10px;
width: 90%;
justify-self:center;
border:2px solid var(--white);
border-radius: 10px;
}
legend{
background-color:var(--black);
border: 2px solid var(--white);
padding:2px;
border-radius:10px;
}

#displayContainer{
height:100%;
}

#display{
height:60%;
width:60%;
display: flex;
justify-content:center;
align-items:center;
border-radius:10px;
background-image: linear-gradient(var(--blue), var(--otherWhite));
}
#display > *{
height:95%;
width:95%;
}

li{
list-style: none;
}

select{
background-color:var(--black);
color:var(--white);
border:2px solid var(--otherWhite);
padding: min(1vw,10px) ;
border-radius:10px;
}

input[type='range']{
accent-color: var(--blue);
}
