*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* mobile first design: 330x440px */
:root{
--black: #4F4E4F;
--otherWhite:#d1caa9;
--white: #898D74;
--blue:#bacdd1;
}

header{
display: flex;
justify-content:center;
align-items:center;

}

body{
background-color: var(--black);
color: var(--white);
display:flex;
flex-direction:column;
}

header{
border-bottom: 2px solid var(--white);
}

main{
display:grid;
gap: 8vw;
height: 110vh;
grid-template: 1fr 1fr 1fr / 1fr;
}

fieldset{
display: flex;
justify-content:center;
align-items:center;
text-align:center;
flex-direction: column;
padding:1vw;
width: 90%;
align-self:center;
justify-self:center;
border:2px solid var(--white);
}

#displayContainer{
height:100%;
}

#display > *{
height:80%;
width:80%;
}

li{
list-style: none;
}

